<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="row"   #about >
    <div class="col-lg-6" >
      <br/><br/>
      <div class="zoom">
      <img src="https://www.cupix.in/assets/img/watching-tv.svg" alt="...." class="vert-move" width="500" height="500">
   </div>
  </div>
     <div class="col-lg-6">
        <br/><br/>
        <h1 style="margin-left:5%;font-size:xx-large;"><b>LED/LCD TV Repair & Service in</b></h1>
        <h1 style="margin-left:5%;font-size: xx-large;"><b>Chennai</b></h1>
        <h4 style="margin-left:5%;">We offer complete service of all types of TV repair in chennai starting
           right from the basic service to complicated services.</h4>        
           <br/>
           <div class="container">
            <div class="row">
            <!-- <i class="fa fa-file-text" style="font-size:48px;color:red;margin-left:5%;"></i> -->
            <button class="btn btn-default"  style="margin-left:3%;width:10%;height:10%;"><i class="glyphicon glyphicon-file gly-spin" 
               style="font-size:48px;color:#ffb399;margin-left:3%;"></i></button>
               <button class="btn btn-default"  style="margin-left:15%;width:10%;height:10%;"><i class="glyphicon glyphicon-facetime-video gly-spin" 
                  style="font-size:48px;color:#ffb399;margin-left:15%"></i></button>

            <!-- <i class="fa fa-tv" style="font-size:48px;color:red;margin-left:38%"></i> -->
           </div>
           </div>
           <div>
            <h2 style="margin-left:5%;color:burlywood">Lowest Service Charges
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               
      
                Trusted technicians</h2>
           </div>
           <div>
           <p style="margin-left:5%;color: black;">Backed by the years of experience
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
            Our firm has earned a huge place in </p>
            
            <p style="margin-left:5%;color: black;">

            the and knowledge, we are engaged in
            
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          
            business sector by offering a qualitative LED TV</p>
     
            <p style="margin-left:5%;color: black;">

            offering LCD TV Repairing Service.
         
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
      
            Repairing Service.

         </p>        
           
           
            </div>
  </div>
  </div>
  
