img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}


/* body { margin:5px;padding:0px; font-family:Arial; font-size:13px;background-color:#FEFEFE }
div#stage { width:99%;height:100%;margin:auto; }
div#header { padding:10px 3px 3px 5px;height:40px; background-color:#C00000; color:#fff;font-size:18px;font-weight:bold }
div#content { width:99%;position:relative;top:100px;}
div#box { margin:auto;width:500px; height:100px; border:solid 1px #FB880B;text-align:left;}
div#box-head { background-color:#FB880B;color:#fff;font-weight:bold;height:20px;padding:5px;}
div#box-content { padding:25px 5px 5px 5px; } */

#myBtn {
    position: fixed;
    bottom: 10px;
    float: right;
    right: 18.5%;
    left: 77.25%;
    max-width: 30px;
    width: 100%;
    font-size: 12px;
    border-color: rgba(85, 85, 85, 0.2);
    background-color: rgb(100,100,100);
    padding: .5px;
    border-radius: 4px;

}
/*On Hover Color Change*/
#myBtn:hover {
    background-color: #7dbbf1;
}