<!-- basic modal -->
 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 
   <nav class="navbar navbar-header" style="background-color: white;width:105%;height:11%;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" style="color: #6b6b47;font-size:230%;margin-left:1%;margin-top:2%;"><b>CUPIX Electronics</b></a>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; 
    </div>
     
    <ul class="nav navbar-nav">
      <li class="active" style="font-size:larger"><a>Home</a></li>
      <li><a routerLink="/about" routerLinkActive="active"  style="font-size: larger;color:black">About Us</a></li>
      <li><a routerLink="/offer" routerLinkActive="active" style="font-size: larger;color:black">Services</a></li>
      <li><a href="#" style="font-size: larger;color:black">Gallery</a></li>
      <li><a href="#" style="font-size: larger;color:black">Team</a></li>
      <li><a href="#" style="font-size: larger;color:black">Contact Us</a></li>
      
    </ul>
    <button class="btn navbar-btn" style="background-color:#ff6600;color:white;">Get Started</button>
  </div>
</nav>
<div class="row"  style="background-color: #ffe6e6;">
  <div class="col-lg-6" style="margin-top:2%;" >
    <br/>
   <h1 style="margin-left:20%;font-size:350%;color: #4d4d33;"><b>Better Digital</b></h1>
   <h1 style="margin-left:20%;font-size:350%;color: #4d4d33;"><b>Experience with Cupix</b></h1>
   <p style="margin-left:20%;font-size: 160%;color: #7a7a52;">For all your problems with TV,</p>
   <p style="margin-left:20%;font-size: 160%;color: #7a7a52; ">CALL US @ 044-48638885</p>
   <button class="btn navbar-btn" style="background-color:#ff6600;color:white;margin-left:20%;">Book Us Know</button>
   <!-- <a routerLink="/book" routerLinkActive="active"  style="background-color:coral;margin-left:20%;color:white;width:5%;height:5%;">
    Book Us Know</a> -->
    <!-- <button class="btn navbar-btn"  routerLink="/book" routerLinkActive="active" 
    style="background-color:#947f70;
    margin-left:20%;">Book Us Know</button> -->
</div>
   <div class="col-lg-6">
    <img src="https://www.cupix.in/assets/img/about-img.svg" alt="...." class="vert-move" width="500" height="500">
</div>
</div>


<button id="myBtn"><a href="#top" style="color: white">^</a></button>
<router-outlet></router-outlet>